/* 
SE350 A2: css styles for BPD
Author: Joel Hutchinson
ID: 854781332
*/

/* The following lines remove default stylings */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }

    a {
        text-decoration: none;
        color: white;
    }

    li {
        list-style: none;
    }

    body {
        height: 100%;
    }

/* Here is the css selector code for the assigned colour  */
    
    /* This is my assigned colour  */
    .custom-background-color {
        background-color: #d95030;
    }
    /* This is the complement to my assigned colour  */
    .custom-color:hover {
        color: #30b9d9;
    }
    .custom-color {
        color: white;
    }

/* This code onwards is applied styling */

    /* This section styles the navigation bar */

    nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    }

    .nav-links ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .nav-links li {
        margin: 0px 0.2rem 0px 0.2rem;
        transition: .5s ease;

    }

    .nav-links li a {
        display: block;
        padding: 1rem;
        border-radius: 1.0rem;

    }

    .nav-links a.active {
        color: white;
        background-color: #d94230;
        font-weight: bold;
        border-radius: 2.2rem;

    }

    .nav-links li:hover, .nav-links li:hover {
        background-color: #d96c30;
        border-radius: 1.8rem;
    }

    .nav-links a:hover, .nav-links a:focus {
        color: #30b9d9;
    }

    .nav-links a.active:hover, .nav-links a.active:focus {
        color: #30b9d9;
    }

    /* This section styles the hero image and call to action */

    .call-to-action {
        position: relative;
    }

    .hero {
        filter: brightness(75%);
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        color: white;
        backdrop-filter: blur(0.8rem);
        border-radius: 3rem;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 14rem;
        width: 38rem;
        top: 50%;
        left: 50%;
        margin-left: -20rem;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        width: 80%;
    }

    .reg-btn {
        background-color: #30b9d9;
        border-radius: 3rem;
        margin-bottom: 0.8rem;
        transition: .5s ease;
        padding: 0.1rem;

    }

    .reg-btn:hover {
        background-color: white;

    }

    /* This section styles the extra news section below */

    .page-section-2 {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background-color: #30b9d9;
    }

    .news-block {
        width: 80%;
        transform: translate(0rem, -7rem);
    }

    #news-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #f9f9f9;
        height: 40rem;
        padding: 2rem;
        padding-right: 4rem;
        border-radius: 1.5rem;
    }

    .news-item .read-more {
        transition: .5s ease;
        width: fit-content;
    }
    .news-item .read-more:hover {
        color: lightgray;
    }

    .news-item {
        padding: 1rem;
        transition: .5s ease;
    }
    .news-item:hover {
        background-color: #d96c30;
        border-radius: 2.5rem;
    }

    /* This section styles the registration modal window */

    .modal {
        display: none;
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.3);
    }

    .modal-header, .modal-footer {
        padding: 0.125rem 1rem;
        background-color: #d95030;
        color: white;
    }

    .modal-header {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
        font-size: 2rem;
    }

    .modal-footer {
        border-radius: 0rem 0rem 1.5rem 1.5rem;
        padding-bottom: 0.25rem;
        font-size: 1.25rem;
    }

    .modal-content {
        background-color: #f9f9f9;
        border-radius: 1.5rem;
        margin: 5% auto;
        padding: 1rem;
        border: 1px solid #888;
        width: 70%;
        animation-name: animated-open;
        animation-duration: .5s;
    }

    @keyframes animated-open {
        from {opacity: 0}
        to {opacity: 1}
      }

    .modal-body {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;

    }

    .form-body {
        width: 25%;
    }

    .rego-img {
        border-radius: 3rem;
    }

    .form-div {
        padding: 0.5rem;
    }

    h3 {
        color: #30b9d9;
    }

    input {
        border: 0.125rem solid #30b9d9;
        border-radius: 0.5rem;
        width: 100%;
    }

    input:focus {
        border: 0.125rem solid #d95030; 
        border-radius: 0.5rem;

    }

    button {
        text-decoration: none;
        border: none;
        color: white;
        background-color:rgba(255, 255, 255, 0);
        font-size: 1rem;
        cursor: pointer;
        padding: 0.5rem;
        transition: .5s ease;
    }

    button:hover {
        color: #30b9d9;
        background-color:rgba(0, 0, 0, 0);
    }

    button:focus {
        color: lightgray;
    }

    button:active {
        color:lightgray;
        transform: scale(0.95);
    }

    .close-btn {
        color: white;
        float: right;
        font-size: 2rem;
        font-weight: bold;
        transition: .5s ease;
    }

    .close-btn:hover, .close-btn:focus {
        color: lightgray;
        text-decoration: none;
        cursor: pointer;
    }

